In [24]:
import pandas as pd
import numpy as np

In [25]:
df1=pd.read_csv('customer.csv')
df2=pd.read_csv('loan_count_by_year.csv')
df3=pd.read_csv('loan_purposes.csv')
df4=pd.read_csv('loan_with_region.csv')
df5=pd.read_csv('loan.csv')
df6=pd.read_csv('state_region.csv')

In [26]:
df1.columns

Index(['customer_id', 'emp_title', 'emp_length', 'home_ownership',
       'annual_inc', 'annual_inc_joint', 'verification_status', 'zip_code',
       'addr_state', 'avg_cur_bal', 'Tot_cur_bal'],
      dtype='object')

In [27]:
df4.columns

Index(['loan_id', 'loan_amount', 'region'], dtype='object')

In [28]:
df5.columns

Index(['loan_id', 'customer_id', 'loan_status', 'loan_amount', 'state',
       'funded_amount', 'term', 'int_rate', 'installment', 'grade', 'issue_d',
       'issue_date', 'issue_year', 'pymnt_plan', 'type', 'purpose',
       'description', 'notes'],
      dtype='object')

In [29]:
combined_data=pd.merge(df1,df5[['loan_id', 'customer_id', 'loan_status', 'loan_amount', 'state',
       'funded_amount', 'term', 'int_rate', 'installment', 'grade', 'issue_d',
       'issue_date', 'issue_year', 'pymnt_plan', 'type', 'purpose',
       'description', 'notes']],on='customer_id')

In [30]:
combined_data=pd.merge(combined_data,df4[['loan_id', 'region']],on='loan_id')

In [31]:
combined_data.columns

Index(['customer_id', 'emp_title', 'emp_length', 'home_ownership',
       'annual_inc', 'annual_inc_joint', 'verification_status', 'zip_code',
       'addr_state', 'avg_cur_bal', 'Tot_cur_bal', 'loan_id', 'loan_status',
       'loan_amount', 'state', 'funded_amount', 'term', 'int_rate',
       'installment', 'grade', 'issue_d', 'issue_date', 'issue_year',
       'pymnt_plan', 'type', 'purpose', 'description', 'notes', 'region'],
      dtype='object')

In [32]:
df2.columns

Index(['issue_year', 'loan_count'], dtype='object')

In [33]:
df6.columns

Index(['state', 'subregion', 'region'], dtype='object')

In [34]:
combined_data=pd.merge(combined_data,df6[['state', 'subregion']],on='state')

In [35]:
combined_data.subregion

0         New England
1         New England
2         New England
3         New England
4         New England
             ...
270294        Pacific
270295        Pacific
270296        Pacific
270297        Pacific
270298        Pacific
Name: subregion, Length: 270299, dtype: object

In [36]:
missing_cols = combined_data.columns[combined_data.isna().sum() != 0]

In [37]:
missing_cols

Index(['emp_title', 'emp_length', 'annual_inc_joint', 'description'], dtype='object')

In [38]:
combined_data[combined_data['description'].isna()]

,customer_id,emp_title,emp_length,home_ownership,annual_inc,annual_inc_joint,verification_status,zip_code,addr_state,avg_cur_bal,...,issue_d,issue_date,issue_year,pymnt_plan,type,purpose,description,notes,region,subregion
229,"b'\xa5G_`m\t\x83\xb9b""\xb4C\xaa\xb8@x\x03\x99=...",NaN,NaN,RENT,21048.0,NaN,Verified,021xx,MA,850.0,...,Jun-16,June 2016,2016.0,False,INDIVIDUAL,debt_consolidation,NaN,desc,Northeast,New England
259,b'\xe6\xa7!k\xc8\x9f\tG\xd8[\xf3\xdeB\x82\x95A...,NaN,NaN,RENT,37000.0,NaN,Source Verified,023xx,MA,4050.0,...,Feb-16,February 2016,2016.0,False,INDIVIDUAL,credit_card,NaN,desc,Northeast,New England
291,b'\x93`W9G\xb5(~\x11\x04\x11\xa1\x01\x012R\xf3...,NaN,NaN,MORTGAGE,39000.0,NaN,Verified,026xx,MA,37220.0,...,Jun-16,June 2016,2016.0,False,INDIVIDUAL,debt_consolidation,NaN,desc,Northeast,New England
323,b'\xa5\xec\xe8\xd9\xdd\xb5\x8fS\xaa\x16\x18\x0...,NaN,NaN,MORTGAGE,78430.0,NaN,Verified,028xx,RI,4596.0,...,Jun-16,June 2016,2016.0,False,INDIVIDUAL,debt_consolidation,NaN,desc,Northeast,New England
461,b'\xdb\xe1\x9b\x01\xe6\x06\x9d\x9cxz_M\xd5-\x8...,NaN,NaN,RENT,40106.0,NaN,Verified,041xx,ME,1883.0,...,Mar-16,March 2016,2016.0,False,INDIVIDUAL,debt_consolidation,NaN,desc,Northeast,New England
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269671,b'KG\xaa\xa1\x16x\n&\xe0V\x08=G>\x18\xfc\xd6\x...,Journeymen Clerk,10+ years,MORTGAGE,50000.0,NaN,Not Verified,986xx,WA,12067.0,...,Mar-16,March 2016,2016.0,False,INDIVIDUAL,debt_consolidation,NaN,desc,West,Pacific
269678,b'm\xd7s\x8f\xcc\x80\x0c\xbc \x89\xca\x05\x9b_...,Engineer,10+ years,MORTGAGE,100000.0,NaN,Verified,986xx,WA,21320.0,...,Jun-16,June 2016,2016.0,False,INDIVIDUAL,credit_card,NaN,desc,West,Pacific
270055,b'\xea\xc0\x85\xf9\xb7\xb3]E\xf6\xacJ\xf8\xd4\...,Correctional Officer,10+ years,MORTGAGE,64000.0,NaN,Verified,993xx,WA,19456.0,...,Mar-16,March 2016,2016.0,False,INDIVIDUAL,debt_consolidation,NaN,desc,West,Pacific
270155,b'\xa9\xd0\x1c\xc7\x06n@\xcd+\x0b\xed\x04\x10\...,Assistant Grocery Manger,10+ years,MORTGAGE,58000.0,NaN,Verified,995xx,AK,24531.0,...,Mar-16,March 2016,2016.0,False,INDIVIDUAL,credit_card,NaN,desc,West,Pacific
270296,b'nW\xbb\xdd{(\xf4\xed\xa5G9\x97Rq\xd4vg\xc7\x...,Surface Equipment Operator,10+ years,MORTGAGE,80000.0,NaN,Not Verified,998xx,AK,92942.0,...,Mar-16,March 2016,2016.0,False,INDIVIDUAL,credit_card,NaN,desc,West,Pacific

In [39]:
combined_data['emp_length'].fillna('Unknown',inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_15796\638226074.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  combined_data['emp_length'].fillna('Unknown',inplace=True)

In [40]:
combined_data.isna().sum()

customer_id                 0
emp_title               23662
emp_length                  0
home_ownership              0
annual_inc                  0
annual_inc_joint       251505
verification_status         0
zip_code                    0
addr_state                  0
avg_cur_bal                 0
Tot_cur_bal                 0
loan_id                     0
loan_status                 0
loan_amount                 0
state                       0
funded_amount               0
term                        0
int_rate                    0
installment                 0
grade                       0
issue_d                     0
issue_date                  0
issue_year                  0
pymnt_plan                  0
type                        0
purpose                     0
description              2343
notes                       0
region                      0
subregion                   0
dtype: int64

In [41]:
combined_data['annual_inc_joint']=combined_data['annual_inc_joint'].fillna(combined_data['annual_inc'])

In [42]:
combined_data.drop(['customer_id','description','emp_title'],axis=1,inplace=True)

In [43]:
combined_data.columns

Index(['emp_length', 'home_ownership', 'annual_inc', 'annual_inc_joint',
       'verification_status', 'zip_code', 'addr_state', 'avg_cur_bal',
       'Tot_cur_bal', 'loan_id', 'loan_status', 'loan_amount', 'state',
       'funded_amount', 'term', 'int_rate', 'installment', 'grade', 'issue_d',
       'issue_date', 'issue_year', 'pymnt_plan', 'type', 'purpose', 'notes',
       'region', 'subregion'],
      dtype='object')

In [44]:
missing_cols = combined_data.columns[combined_data.isna().sum() != 0]
missing_cols

Index([], dtype='object')

In [45]:
combined_data.to_excel('cleaned_loan_data.xlsx', index=False)

In [46]:
df = pd.DataFrame( df1.iloc[0:3],range(1,3), columns=df1.columns)
df

,customer_id,emp_title,emp_length,home_ownership,annual_inc,annual_inc_joint,verification_status,zip_code,addr_state,avg_cur_bal,Tot_cur_bal
1,b'c\xe3S\xf0yY7\xba\xda\x16JF\xec\xbe\xc0mY\xd...,NaN,NaN,MORTGAGE,50000.0,NaN,Not Verified,010xx,MA,3418.0,23927.0
2,b'1\xe3uD\xe4\x13\x1f\x80\x1d\xb1\xa5\x14x\xac...,Care Giver,NaN,OWN,46800.0,NaN,Verified,010xx,MA,48173.0,240865.0