In [19]:
import numpy as np
import pandas as pd

In [20]:
df=pd.read_excel('ai_job_market_insights.xlsx')

In [21]:
df_array=np.array(df)

In [22]:
df_1D = np.array(df.iloc[0])

In [23]:
df_2D = np.array(df.iloc[0:5])

In [24]:
df_3D = np.array(df.iloc[0:,5])

In [28]:
df1 = pd.DataFrame([df.iloc[1].values], index=range(1, 4),columns=df.columns)
# df.iloc[0].values
df1

,Job_Title,Industry,Company_Size,Location,AI_Adoption_Level,Automation_Risk,Required_Skills,Salary_USD,Remote_Friendly,Job_Growth_Projection
1,Marketing Specialist,Technology,Large,Singapore,Medium,High,Marketing,93792.562466,No,Decline
2,Marketing Specialist,Technology,Large,Singapore,Medium,High,Marketing,93792.562466,No,Decline
3,Marketing Specialist,Technology,Large,Singapore,Medium,High,Marketing,93792.562466,No,Decline