In [1]:
import pandas as pd
import numpy as np

C:\Users\USER\AppData\Local\Temp\ipykernel_772\2937650959.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df= pd.read_csv("imdb-videogames.csv")
df.head()

,Unnamed: 0,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

In [3]:
df.isna().sum()

Unnamed: 0         0
name               0
url                0
year             267
certificate    12900
rating          9203
votes           9203
plot               0
Action             0
Adventure          0
Comedy             0
Crime              0
Family             0
Fantasy            0
Mystery            0
Sci-Fi             0
Thriller           0
dtype: int64

In [4]:
df_array = np.array(df)
df_1D = np.array(df.iloc[0])
df_2D = np.array(df.iloc[0:3])
df_3D = np.array(df.iloc[0:3,4])

In [5]:
df=df.drop(columns="Unnamed: 0")

In [6]:
df.columns

Index(['name', 'url', 'year', 'certificate', 'rating', 'votes', 'plot',
       'Action', 'Adventure', 'Comedy', 'Crime', 'Family', 'Fantasy',
       'Mystery', 'Sci-Fi', 'Thriller'],
      dtype='object')

In [7]:
df['rating'].fillna(df['rating'].mean(),inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_772\3424798236.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['rating'].fillna(df['rating'].mean(),inplace=True)

In [8]:
df["certificate"].value_counts()

certificate
T            2474
E            2006
M            1820
E10+          814
Unrated       241
K-A           227
Not Rated     184
AO             32
GA             26
EC             25
CE             13
12              9
PG-13           7
MA-13           7
Approved        4
G               4
MA-17           3
PG              3
TV-MA           2
Passed          1
TV-14           1
Name: count, dtype: int64

In [9]:
df['certificate'] = np.where(df['certificate'] == "Not Rated", "Unrated", df['certificate'])
df['certificate'] = np.where(df['certificate'] == "Passed", "Approved", df['certificate'])
df['certificate'].fillna("Unrated",inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_772\920258393.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['certificate'].fillna("Unrated",inplace=True)

In [10]:
#Remove , from the numbers and convert them to int
df["votes"].fillna("0",inplace=True)
df["votes"] = df["votes"].str.replace(",","").astype(int)

C:\Users\USER\AppData\Local\Temp\ipykernel_772\984435193.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["votes"].fillna("0",inplace=True)

In [11]:
df["votes"] = np.where(df["votes"] == 0, df["votes"].mean(), df["votes"])

In [12]:
df.isna().sum()

name             0
url              0
year           267
certificate      0
rating           0
votes            0
plot             0
Action           0
Adventure        0
Comedy           0
Crime            0
Family           0
Fantasy          0
Mystery          0
Sci-Fi           0
Thriller         0
dtype: int64

In [13]:
df["year"].fillna(df["year"].mean(),inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_772\3871774408.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["year"].fillna(df["year"].mean(),inplace=True)

In [14]:
df["year"]

0        2018.0
1        2018.0
2        2013.0
3        2018.0
4        2016.0
          ...
20798    2014.0
20799    2004.0
20800    2015.0
20801    2015.0
20802    2020.0
Name: year, Length: 20803, dtype: float64

In [15]:
df.to_excel("imdb-videogames-cleaned.xlsx",index=False)