In [1]:
import numpy as np
import pandas as pd

C:\Users\USER\AppData\Local\Temp\ipykernel_13568\3269992828.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df=pd.read_csv("MentalHealthSurvey new.csv")
df.head()

,gender,age,university,degree_level,degree_major,academic_year,cgpa,residential_status,campus_discrimination,sports_engagement,...,study_satisfaction,academic_workload,academic_pressure,financial_concerns,social_relationships,depression,anxiety,isolation,future_insecurity,stress_relief_activities
0,Female,17,PU,Undergraduate,Computer Science,1st year,3.5-4.0,On-Campus,No,No Sports,...,4,5,5,5,1,5,5,5,3,Sleep
1,Female,17,PU,Undergraduate,Computer Science,1st year,3.5-4.0,On-Campus,No,No Sports,...,4,4,4,5,3,4,4,5,2,Religious Activities
2,Male,17,PU,Undergraduate,Information Technology,1st year,0.0-0.0,Off-Campus,No,7+ times,...,3,5,5,1,3,4,4,4,5,Outdoor Activities
3,Male,18,PU,Undergraduate,Data Science,1st year,2.5-3.0,Off-Campus,No,4-6 times,...,4,3,4,4,4,3,4,4,2,"Sports and Fitness, Creative Outlets, Online E..."
4,Male,18,PU,Undergraduate,Data Science,1st year,3.5-4.0,Off-Campus,No,No Sports,...,5,3,1,1,3,1,2,2,1,Sleep

In [3]:
df.isna().sum()

gender                      0
age                         0
university                  0
degree_level                0
degree_major                0
academic_year               0
cgpa                        0
residential_status          0
campus_discrimination       0
sports_engagement           0
average_sleep               0
study_satisfaction          0
academic_workload           0
academic_pressure           0
financial_concerns          0
social_relationships        0
depression                  0
anxiety                     0
isolation                   0
future_insecurity           0
stress_relief_activities    0
dtype: int64

In [4]:
activities = []
for i in df['stress_relief_activities']:
    for j in str(i).split(","):
        activities.append(str(j).strip())
        
unique= set(activities)
unique

{'Creative Outlets',
 'Nothing',
 'Online Entertainment',
 'Outdoor Activities',
 'Religious Activities',
 'Sleep',
 'Social Connections',
 'Sports and Fitness'}

In [5]:
df.to_excel("MentalHealthSurvey new.xlsx",index=False)

In [6]:
df_array = np.array(df)
df_1D = np.array(df.iloc[0])
df_2D = np.array(df.iloc[0:3])
df_3D = np.array(df.iloc[0:3,4])