In [1]:
import numpy as np
import pandas as pd

C:\Users\USER\AppData\Local\Temp\ipykernel_25216\1662815981.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df=pd.read_csv('WorldSustainabilityDataset.csv')
df.head()

,Country Name,Country Code,Year,Access to electricity (% of population) - EG.ELC.ACCS.ZS,Adjusted net national income per capita (annual % growth) - NY.ADJ.NNTY.PC.KD.ZG,"Adjusted net savings, excluding particulate emission damage (% of GNI) - NY.ADJ.SVNX.GN.ZS",Adjusted savings: carbon dioxide damage (% of GNI) - NY.ADJ.DCO2.GN.ZS,Adjusted savings: natural resources depletion (% of GNI) - NY.ADJ.DRES.GN.ZS,Adjusted savings: net forest depletion (% of GNI) - NY.ADJ.DFOR.GN.ZS,Adjusted savings: particulate emission damage (% of GNI) - NY.ADJ.DPEM.GN.ZS,...,Gini index (World Bank estimate) - SI.POV.GINI,Income Classification (World Bank Definition),Individuals using the Internet (% of population) - IT.NET.USER.ZS,"Life expectancy at birth, total (years) - SP.DYN.LE00.IN","Population, total - SP.POP.TOTL",Regime Type (RoW Measure Definition),Rural population (% of total population) - SP.RUR.TOTL.ZS,Total natural resources rents (% of GDP) - NY.GDP.TOTL.RT.ZS,Urban population (% of total population) - SP.URB.TOTL.IN.ZS,World Regions (UN SDG Definition)
0,Aruba,ABW,2000,91.660398,NaN,15.392211,2.389134,0.000190,0.000190,NaN,...,NaN,High income,NaN,NaN,NaN,NaN,53.283,NaN,NaN,Latin America and Caribbean
1,Aruba,ABW,2001,100.000000,NaN,11.491930,2.509046,0.000214,0.000214,NaN,...,NaN,High income,17.1,73.853,92892.0,NaN,53.661,0.000712,46.339,Latin America and Caribbean
2,Aruba,ABW,2002,100.000000,NaN,3.893620,2.721385,0.000223,0.000223,NaN,...,NaN,High income,18.8,73.937,94992.0,NaN,54.028,0.000657,45.972,Latin America and Caribbean
3,Aruba,ABW,2003,100.000000,NaN,6.713863,2.733676,0.000243,0.000243,NaN,...,NaN,High income,20.8,74.038,97016.0,NaN,54.394,0.000700,45.606,Latin America and Caribbean
4,Aruba,ABW,2004,100.000000,NaN,9.801576,2.678363,0.000256,0.000256,NaN,...,NaN,High income,23.0,74.156,98744.0,NaN,54.760,0.000685,45.240,Latin America and Caribbean

In [3]:
rename_columns=df.columns.str.split('(').str[0]
rename_columns=rename_columns.str.split('-').str[0]

In [4]:
#Replace the columns with the new names
df.columns=rename_columns
df.head()

,Country Name,Country Code,Year,Access to electricity,Adjusted net national income per capita,"Adjusted net savings, excluding particulate emission damage",Adjusted savings: carbon dioxide damage,Adjusted savings: natural resources depletion,Adjusted savings: net forest depletion,Adjusted savings: particulate emission damage,...,Gini index,Income Classification,Individuals using the Internet,"Life expectancy at birth, total","Population, total",Regime Type,Rural population,Total natural resources rents,Urban population,World Regions
0,Aruba,ABW,2000,91.660398,NaN,15.392211,2.389134,0.000190,0.000190,NaN,...,NaN,High income,NaN,NaN,NaN,NaN,53.283,NaN,NaN,Latin America and Caribbean
1,Aruba,ABW,2001,100.000000,NaN,11.491930,2.509046,0.000214,0.000214,NaN,...,NaN,High income,17.1,73.853,92892.0,NaN,53.661,0.000712,46.339,Latin America and Caribbean
2,Aruba,ABW,2002,100.000000,NaN,3.893620,2.721385,0.000223,0.000223,NaN,...,NaN,High income,18.8,73.937,94992.0,NaN,54.028,0.000657,45.972,Latin America and Caribbean
3,Aruba,ABW,2003,100.000000,NaN,6.713863,2.733676,0.000243,0.000243,NaN,...,NaN,High income,20.8,74.038,97016.0,NaN,54.394,0.000700,45.606,Latin America and Caribbean
4,Aruba,ABW,2004,100.000000,NaN,9.801576,2.678363,0.000256,0.000256,NaN,...,NaN,High income,23.0,74.156,98744.0,NaN,54.760,0.000685,45.240,Latin America and Caribbean

In [5]:
#Missing values
missing_values=df.isnull().sum()
missing_values

Country Name                                                            0
Country Code                                                            0
Year                                                                    0
Access to electricity                                                  94
Adjusted net national income per capita                               721
Adjusted net savings, excluding particulate emission damage           659
Adjusted savings: carbon dioxide damage                                67
Adjusted savings: natural resources depletion                         193
Adjusted savings: net forest depletion                                176
Adjusted savings: particulate emission damage                         188
Automated teller machines                                            1002
Broad money                                                           510
Children out of school                                               1062
Compulsory education, duration                                        308
Cost of business start                                                786
Cost of business start                                                786
Exports of goods and services                                         169
Final consumption expenditure                                         240
GDP                                                                    41
GDP per capita                                                         41
General government final consumption expenditure                      256
Gross national expenditure                                            240
Gross savings                                                         513
Imports of goods and services                                         169
Inflation, consumer prices                                            204
Primary completion rate, total                                       1061
Proportion of seats held by women in national parliaments             225
Pupil                                                                 921
Renewable electricity output                                          516
Renewable energy consumption                                            0
School enrollment, preprimary                                         938
School enrollment, primary                                            504
School enrollment, secondary                                          857
Trade                                                                 169
Women Business and the Law Index Score                                 76
Prevalence of undernourishment                                       1453
Proportion of population below international poverty line            1983
Proportion of population covered by at least a 2G mobile network      938
Proportion of population covered by at least a 3G mobile network     1930
Proportion of population using basic drinking water services         1450
Unemployment rate, male                                              1480
Unemployment rate, women                                             1481
Annual production                                                       2
Continent                                                               2
Gini index                                                           1984
Income Classification                                                   2
Individuals using the Internet                                        301
Life expectancy at birth, total                                       191
Population, total                                                     181
Regime Type                                                           211
Rural population                                                        9
Total natural resources rents                                         234
Urban population                                                      181
World Regions                                                           2
dtype: int64

In [6]:
#Get the columns with dtype object
df.select_dtypes(include=['object']).columns

for i in df.select_dtypes(include=['object']).columns:
    df[i]=df[i].fillna(df[i].mode()[0])

In [7]:
df.isnull().sum()

#Get the columns with dtype object
df.select_dtypes(include=['float']).columns

for i in df.select_dtypes(include=['float']).columns:
    df[i]=df[i].fillna(df[i].mean())


df.isnull().sum()

Country Name                                                         0
Country Code                                                         0
Year                                                                 0
Access to electricity                                                0
Adjusted net national income per capita                              0
Adjusted net savings, excluding particulate emission damage          0
Adjusted savings: carbon dioxide damage                              0
Adjusted savings: natural resources depletion                        0
Adjusted savings: net forest depletion                               0
Adjusted savings: particulate emission damage                        0
Automated teller machines                                            0
Broad money                                                          0
Children out of school                                               0
Compulsory education, duration                                       0
Cost of business start                                               0
Cost of business start                                               0
Exports of goods and services                                        0
Final consumption expenditure                                        0
GDP                                                                  0
GDP per capita                                                       0
General government final consumption expenditure                     0
Gross national expenditure                                           0
Gross savings                                                        0
Imports of goods and services                                        0
Inflation, consumer prices                                           0
Primary completion rate, total                                       0
Proportion of seats held by women in national parliaments            0
Pupil                                                                0
Renewable electricity output                                         0
Renewable energy consumption                                         0
School enrollment, preprimary                                        0
School enrollment, primary                                           0
School enrollment, secondary                                         0
Trade                                                                0
Women Business and the Law Index Score                               0
Prevalence of undernourishment                                       0
Proportion of population below international poverty line            0
Proportion of population covered by at least a 2G mobile network     0
Proportion of population covered by at least a 3G mobile network     0
Proportion of population using basic drinking water services         0
Unemployment rate, male                                              0
Unemployment rate, women                                             0
Annual production                                                    0
Continent                                                            0
Gini index                                                           0
Income Classification                                                0
Individuals using the Internet                                       0
Life expectancy at birth, total                                      0
Population, total                                                    0
Regime Type                                                          0
Rural population                                                     0
Total natural resources rents                                        0
Urban population                                                     0
World Regions                                                        0
dtype: int64

In [8]:
df.to_csv('WorldSustainabilityDataset_cleaned.csv',index=False)

In [9]:
df_array = np.array(df)
df_1D = np.array(df.iloc[0])
df_2D = np.array(df.iloc[0:3])
df_3D = np.array(df.iloc[0:3,4])

In [10]:
df1 = pd.DataFrame( df.iloc[0:3],range(1,3), columns=df.columns)
df1

,Country Name,Country Code,Year,Access to electricity,Adjusted net national income per capita,"Adjusted net savings, excluding particulate emission damage",Adjusted savings: carbon dioxide damage,Adjusted savings: natural resources depletion,Adjusted savings: net forest depletion,Adjusted savings: particulate emission damage,...,Gini index,Income Classification,Individuals using the Internet,"Life expectancy at birth, total","Population, total",Regime Type,Rural population,Total natural resources rents,Urban population,World Regions
1,Aruba,ABW,2001,100.0,2.499857,11.49193,2.509046,0.000214,0.000214,0.880541,...,37.512203,High income,17.1,73.853,92892.0,Electoral Democracy,53.661,0.000712,46.339,Latin America and Caribbean
2,Aruba,ABW,2002,100.0,2.499857,3.89362,2.721385,0.000223,0.000223,0.880541,...,37.512203,High income,18.8,73.937,94992.0,Electoral Democracy,54.028,0.000657,45.972,Latin America and Caribbean