In [6]:
import pandas as pd
import numpy as np
df=pd.read_excel('Adidas US Sales Datasets.xlsx')

In [7]:
df.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35,In-store
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35,In-store
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30,In-store

In [8]:
#implement numpy array
df_array = np.array(df)
df_array

array([['Foot Locker', 1185732, Timestamp('2020-01-01 00:00:00'), ...,
        300000.0, 0.5, 'In-store'],
       ['Foot Locker', 1185732, Timestamp('2020-01-02 00:00:00'), ...,
        150000.0, 0.3, 'In-store'],
       ['Foot Locker', 1185732, Timestamp('2020-01-03 00:00:00'), ...,
        140000.0, 0.35, 'In-store'],
       ...,
       ['Foot Locker', 1185732, Timestamp('2021-02-22 00:00:00'), ...,
        2791.28, 0.37000000000000005, 'Outlet'],
       ['Foot Locker', 1185732, Timestamp('2021-02-22 00:00:00'), ...,
        1234.8000000000002, 0.42000000000000004, 'Outlet'],
       ['Foot Locker', 1185732, Timestamp('2021-02-22 00:00:00'), ...,
        649.89, 0.27, 'Outlet']], dtype=object)

In [24]:
#create 1D,2D and 3D array in the dataset
df_1D = np.array(df.iloc[0])
df_2D = np.array(df.iloc[0:5])
df_3D = np.array(df.iloc[0:5,0:5])

In [34]:
df_3D

array([['Foot Locker', 1185732, Timestamp('2020-01-01 00:00:00'),
        'Northeast', 'New York'],
       ['Foot Locker', 1185732, Timestamp('2020-01-02 00:00:00'),
        'Northeast', 'New York'],
       ['Foot Locker', 1185732, Timestamp('2020-01-03 00:00:00'),
        'Northeast', 'New York'],
       ['Foot Locker', 1185732, Timestamp('2020-01-04 00:00:00'),
        'Northeast', 'New York'],
       ['Foot Locker', 1185732, Timestamp('2020-01-05 00:00:00'),
        'Northeast', 'New York']], dtype=object)