In [2]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_excel("coffeeOrdersData.xlsx",sheet_name='orders')

In [6]:
df.head()

,Order ID,Order Date,Customer ID,Product ID,Quantity,Customer Name,Email,Country,Coffee Type,Roast Type,Size,Unit Price,Sales,Coffee Type Name,Roast Type Name,Loyalty Card
0,QEV-37451-860,2019-09-05,17670-51384-MA,R-M-1,2,Aloisia Allner,aallner0@lulu.com,United States,Rob,M,1.0,9.950,9.9500,Robusta,Medium,Yes
1,QEV-37451-860,2019-09-05,17670-51384-MA,E-M-0.5,5,Aloisia Allner,aallner0@lulu.com,United States,Exc,M,0.5,8.250,4.1250,Excelsa,Medium,Yes
2,FAA-43335-268,2021-06-17,21125-22134-PX,A-L-1,1,Jami Redholes,jredholes2@tmall.com,United States,Ara,L,1.0,12.950,12.9500,Arabica,Light,Yes
3,KAC-83089-793,2021-07-15,23806-46781-OU,E-M-1,2,Christoffer O' Shea,NaN,Ireland,Exc,M,1.0,13.750,13.7500,Excelsa,Medium,No
4,KAC-83089-793,2021-07-15,23806-46781-OU,R-L-2.5,2,Christoffer O' Shea,NaN,Ireland,Rob,L,2.5,27.485,68.7125,Robusta,Light,No

In [7]:
df_array = np.array(df)
df_1D = np.array(df.iloc[0])
df_2D = np.array(df.iloc[0:3])
df_3D = np.array(df.iloc[0:3,4])